body {
    background-color: #E0D2B6;
}

h1 {
    background-color: #61502F;
    color: #E0D2B6;
    text-align: center;
}

h2 {
    color: #7B5C8B;
    font-style: italic;
    margin-left: 10%;
}

.h2OTHER {
    color: #2F6147;
}

.projects { 
    display:flex; 
    flex-wrap:wrap; 
}

.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(128, 164, 136); /* pick a color */
    border-radius: 25%;
}

img {
    width: 85%;
}

.project img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201); /* choose a color */
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
    color: purple;
}
    
.project p {
    text-align: center;
    margin: 15px;
}

h3 {
    text-align: center;
}