:root {
    --primary-color: #590209;
    --primary-sub: #73020C;
    --secondary-color: #D9985F;
    --secondary-sub: #F2B872;
    --accent-one: #f14620;
    --beige: #F2F2F2;
    /*
    --dark-green: #283618;
    --light-green: #606C38;
    --dark-orange: #BC6C25;
    --light-orange: #DDA15E;
    --beige: #FEFAE0;
    */
}

body {
    background: var(--beige);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--primary-sub);
}

.hide-small, .hide {
    display: none;
}

#header-title a {
    color: var(--secondary-light);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}

.page-title {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
}


/* HEADER, FOOTER & MAIN NAVIGATION */
header, footer {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: var(--primary-color) 0px 0px 10px;
}

header div {
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 80%;
}

#main-nav ul {
    list-style-type: none;
    display: block;
    padding: 3px;
    position: absolute;
}

#main-nav a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-light);
    color: var(--secondary-color);
    height: 40px;
    margin: 2px 0px;
    white-space: nowrap;
    letter-spacing: 1px;
}

#main-nav a:hover {
    color: var(--accent-one);
}

footer {
    padding: 10px 0px;
}

#main-footer ul {
    color: var(--secondary-light);
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

#main-footer li {
    display: block; 
}

#main-footer a {
    text-decoration: none;
    color: var(--secondary-sub);
    margin-left: 4px;
    margin-right: 4px;
}

/* HOME STYLING */
hr {
    border: 2px solid var(--primary-color);
}

#content-about-us {
    padding: 25px 300px;
    font-size: 20px;
    line-height: 40px;
}

#content-about-us h3, #content-menu-preview h2 {
    font-size: 25px;
    font-weight:bolder;
    text-align: center;
}

#info-place-order h3, #info-content-rewards h2 {
    font-size: 40px;
    font-weight:bolder;
    text-align: center;
    margin: 2px;
    padding: 0;
}

#info-place-order button {
    background: var(--secondary-sub);
    color: var(--primary-color);
    margin: 5px;
    padding: 10px;
    border-radius: 6%;
    border-color: none;
    font-size: 15px;
    font-weight: bolder;
}

#info-place-order h4 {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: normal;
    margin: 5px;
    padding: 0;
}

#info-content-rewards p {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 20px 50px;
    line-height: 30px;
}

#content-place-order {
    background: var(--primary-sub);
    color: var(--secondary-color);
    max-height: 100%;
    padding: 0;
    margin: 0;
}

#info-place-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#img-content-place-order img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 0;
}

#content-menu-preview h2 {
    text-align: center;
    padding-top: 15px;
}

#menu-preview-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.preview-item {
    text-align: center;
}

.preview-item h4 {
    position: relative;
    top: -15px;
}

.img-menu-preview {
    max-width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.img-menu-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#content-rewards {
    background: var(--secondary-color);
    max-height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

#info-content-rewards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#info-content-rewards ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#img-content-rewards img {
    max-width: 100%;
    height: 100%;
}

#btn-contact-submit, #btn-career-form, #cart-checkout-info button {
    background: var(--secondary-color);
    margin: 5px;
    padding: 5px 15px;
    color: var(--beige);
    border-radius: 6%;
    border-color: var(--secondary-light)
}

#content-career p {
    text-align: center;
}



/* MENU STYLING */
.item {
    margin: 40px;
    color: var(--primary-light);
}
.item h3 {
    font-weight: bold;
    text-align: left;
    font-stretch: condensed;
}

#menu-items h2 {
    margin-left: 80px;
    font-weight: bolder;
}

#menu-items {
    margin-bottom: 50px;
}

.menu-main-content {
    display: flex;
    justify-content: center;
}

/* MONTHLY SPECIAL STYLING */
.monthly-pizza div {
    display: flex;
    justify-content: center;
}

#specials section {
    margin: 40px;
    text-align: center;
}

/* ORDER STYLING */
#options-cart {
    background: var(--primary-light);
    max-width: auto;
    max-height: 400px;
    margin-bottom: 50px;
    padding: 8px;
}

#side-nav ul {
    list-style-type: none;
}

#side-nav li {
    line-height: 30px;
}

#cart-list {
    background: var(--beige);
    margin: 10px;
    padding: 60px;
    border-radius: 8px;
}

#cart-list ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#cart-checkout-info {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.order-item {
    background: var(--primary-sub);
    color: var(--beige);
    border-radius: 15px;
    margin: 5% 20%;
}

.order-item button {
    margin: 15px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10%;
}

.order-item h4, .order-item h5 {
    margin-left: 10px;
}

.order-item img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

#order-item {
    display: block;
    margin: 10px 100px;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.back-color {
    background: bisque;
}

/* CONTACT US STYLING */
#socials {
    background: var(--secondary-color);
}

#contact-form {
    display: flex;
    justify-content: center;
    text-align: center;
}

#form {
    margin: 25px 0px;
}

#form h1 {
    padding-top: 0;
    margin-top: 0;
}

#form-img img {
    max-height: 100%;
}

#contact-inputs {
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: left;
}

#socials {
    display: flex;
}

#socials div {
    display: flex;
    justify-content: center;
    margin: 20px;
    max-width: 100%;
}

#img-socials img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 80%;
}

#socials-list ul {
    list-style-type: none;
}

#socials-list li {
    line-height: 40px;
}

#socials-list a {
    text-decoration: none;
    color: var(--secondary-light);
}

/* CAREERS STYLING */
#career-info {
    background: var(--secondary-color);
    border: 5px solid var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 20px;
}

#work-appli-form label, #work-appli-form input, #work-appli-form select {
    line-height: 20px;
    margin: 10px;
    text-align: left;
    margin-left: 40px;
    display: flex;
}


.txt-label-input {
    display: flex;
}


#career-info ul {
    list-style-type: none;
    color: var(--beige);
    padding-left: 25px;
    text-align: center;
}

#positions {
    display: flex;
    justify-content: center;
    align-items: center;
}

#career-info li {
    line-height: 40px;
}

#career-img {
    max-width: 100%;
}

/* IMAGES */
.specialImg img{
    max-width: 500px;
    max-height: 300px;
}

.hideImg {
    display: flex;
    justify-content: center;
}

#contactImg {
    max-width: 900px;
    max-height: 500px;
}

.toggle-hide {
    display: none;
}


@media only screen and (min-width: 800px) { 
    /* HEADER */
    #header-title {
        position: absolute;
        left: 250px;
        top: 30px;
    }
    
    /* FOOTER */
    #main-footer li:not(:last-child)::after {
        content: "|";
        margin-left: 20px;
        margin-right: 20px;
    }

    footer {
        padding: 10px 150px;
    }

    #main-footer ul {
        color: var(--secondary-light);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    #main-footer li {
        display: flex; 
    }

    /* ITEMS */
    .order-item {
        max-width: 40%;
    }

    .order-item img {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 250px;
    }

    .menu-options {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px auto;
        max-width: 100%;
        gap: 20px;
    }

    .order-item {
        position: relative;
        flex: 1 1 250px;
        max-width: 50%;
        margin: 10px;
    }

    .hide-small {
        display: block;
    }

    .hideImg {
        display: none;
    }
    
    .columns {
        display:flex;
    }

    .gallery {
        flex-wrap:wrap;
        flex-direction: row;
    }

    /* NAVIGATION */
    #main-nav ul {
        display: flex;
    }

    #main-nav {
        position: relative;
        left: 675px;
        top: 25px;
    }

    #main-nav a {
        margin: 5px;
        padding: 0 15px;
        border-radius: 6%;
        background: none;
        font-size: 20px;
        font-stretch:ultra-condensed;
        padding: 5px;
    }

    #main-nav a.current {
        background: none;
    }

    /* CONTENT */
    #content-header img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(25%);
    }

    #content-header {
        height: 560px;
    }

    #content-header section {
        position: relative;
        top: -400px;
        text-align: center;
    }

    #content-header h2 {
        color: white;
        font-weight: bold;
        font-size: 80px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    }

    #content-two section {
        background: var(--primary-light-two);
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    /* MENU ITEMS */
    #menu-imgs img{
        max-width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }

    #menu-items hr {
        margin: 45px;
    }

    .menuImg {
        max-width: 300px;
        max-height: 200px;
    }

    .item {
        margin: 0px 80px;
        color: var(--primary-light);
    }

    .item section h4 {
        margin-left: 10px;
    }

    .item p {
        margin: 0;
    }

    /* CONTACT FORM */
    #form {
        margin-top: 80px;
    }

    #contact-form {
        height: 500px;
    }

    #career-info {
        max-width: 50%;
    }

    #work-appli-form label, #work-appli-form input, #work-appli-form select {
        display: block;
        line-height: 20px;
        margin: 10px;
        text-align: left;
        margin-left: 40px;
    }

    #work-appli-form section {
        text-align: center;
    }

    /* ORDER STYLING */
    #options-cart {
        background: var(--primary-sub);
        max-width: 20%;
        max-height: 100%;
    }

    #side-nav ul {
        list-style-type: none;
    }

    #side-nav li {
        line-height: 30px;
    }

    #cart-list {
        background: var(--beige);
        margin: 10px;
        padding: 60px;
        border-radius: 8px;
        height: 200px;

    }

    #cart-list ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
    }

    #cart-checkout-info {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .order-item button {
        position: absolute;
        top: 275px;
        left: 245px;
    
    }

    /* SPECIALS */
    .monthly-pizza section {
        padding-top: 40px;
    }

    #specials section {
        text-align: left;
    }

    /* CAREERS */
    #career-info ul {
        text-align: left;
        line-height: 15px;
        margin: 0px;
    }
}