/* Mobile */
#content {
    width: 70%;
    margin: auto;
    padding: 1%;
    border-radius: 5px;
    background-color: #718698;
    font-family:'Times New Roman', Times, serif;
    color: rgb(25, 24, 51);
    text-align: center;
    padding-bottom: 50px;
}

p {
    color: rgba(25, 24, 51, 0.76);
}

body {
    background-image: url(images/bluegrayBackground.jpg);
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

#assignments, #projects{
    display: block;
    justify-content: center;
}

#name {
    text-align: left;
}

section {
    background-color: #112639;
    padding: 1%;
    margin: 10px auto;
    /* align-items: center; */
    border-radius: 10px;
    color: lightgray;
}

#assignments p, #projects p {
    color: gray;
}

#projects section {
    background-color: #1f4569;
}

#projects-title {
    color: #1f4569;
}


/* Large Screens */
@media only screen and (min-width: 768px) {
    #content {
        width: 70%;
        padding: 1%;
        padding-bottom: 50px;
    }

    #assignments, #projects {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    #name {
        text-align: left;
    }

    .section {
        padding: 2%;
        margin: 0;
    }
}